<!-- FILAS DE SERVICIOS  -->
<tr>
  <td><%= service.id %></td>
  <td><%= service.origin %></td>
  <td><%= service.destination %></td>
  <td class="text-center">
    <%= l(service.date, format: "%d") %>
    <%= l(service.date, format: "%b") %>
    <%= l(service.date, format: "%y") %>
  </td>
  <td class="text-center">
    <%= l(service.time, format: "%H:%M") %>
  </td>
</tr>
